body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x:hidden ;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  }
  .navbar {
    background: white;
    padding: 20px;
    word-spacing: 10px;
    /* color: red; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    font-size: 50px;
    padding: 10px;
    margin-left: 25px;
    font-family: fantasy;
    padding: 20px;
  }
 
  li {
    list-style: none;
    display: inline-block;
  }
  li a {
    font-size: 22px;
    color: black;
    padding: 30px;
  }
  li a:hover {
    color: blue;
  }